<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/jquery/jquery-3.4.1.min.js"></script>
    <script src="../static/popper/popper.min.js"></script>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('report') }}">Report</a>

    </nav>

    {% block content %}



    {% endblock %}

</body>
</html>